#book-background {
  width: 100%;
  height: 500px;
}
#welcome {
  background-color: white;
  margin: auto;
  padding: 10px;
  position: absolute;
  height: fit-content;
  width: fit-content;
  top: 30%;
  left: 30%;
  bottom: 70%;
  right: 30%;
}
#recommendations {
  text-align: left;
  margin: auto;
  width: 90%;
}
