#book-background {
  width: 100%;
  height: 500px;
}
#welcome {
  background-color: white;
  margin: auto;
  padding: 10px;
  position: absolute;
  height: fit-content;
  width: fit-content;
  top: 30%;
  left: 30%;
  bottom: 70%;
  right: 30%;
}
#recommendations {
  text-align: left;
  margin: auto;
  width: 90%;
}
#books {
  background-color: #97c8eb;
  border-radius: 15px;
  display: flex;
  height: fit-content;
}
#books div {
  display: flex;
  flex-wrap: wrap;
}
.book {
  margin: 1%;
}
