#book-container {
  background-color: #eef6fc;
  border: 3px solid #97c8eb;
  margin: auto;
  padding-top: 10px;
  width: 90%;
  min-height: 100vh;
}
#book-info {
  padding-bottom: 50px;
  padding-top: 100px;
}
#description {
  background-color: #eef6fc;
  border: 1px solid gray;
  margin: auto;
  width: 80%;
}
#description h4 {
  border-bottom: 1px solid gray;
  margin-top: 0px;
}
#description p {
  background-color: white;
  padding: 20px;
  margin-top: -20px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
#info-box {
  border: 1px solid gray;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: auto;
  text-align: left;
  width: 80%;
}
#info-box-left {
  background-color: lightgrey;
  height: 100%;
  padding: 10px 0px 10px 0px;
  text-align: center;
  width: 50%;
}
#info-box-left img {
  height: 200px;
}
#info-box-right {
  background-color: white;
  min-height: 100%;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}
#info-box-right div {
  margin: 5%;
}
.purchase-link {
  background-color: #97c8eb;
  border: solid #093a3e;
  border-radius: 15px;
  color: #093a3e;
  font-weight: 600;
  padding: 10px;
  text-decoration: none;
}
.purchase-link:hover {
  background-color: #64e9ee;
}
#sale-info {
  text-align: left;
  margin: auto;
  width: 80%;
}
@media screen and (max-width: 680px) {
  #info-box-left {
    width: 100%;
  }
  #info-box-right {
    border-top: 1px solid gray;
    width: 100%;
    padding: 5px 0px 5px 0px;
  }
  #info-box {
    border: 1px solid gray;
    display: block;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: auto;
    text-align: left;
    width: 80%;
  }
}
