#main {
  padding-top: 50px;
  margin-bottom: -50px;
}
h1 {
  color: #7ea7c4;
}
#experience {
  background-image: linear-gradient(white, #97c8eb);
  margin-bottom: -20px;
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#experience h2 {
  text-align: center;
}
#experience p {
  text-align: center;
  margin: auto;
  padding: 30px 0px 30px 0px;
  width: 70%;
  font-size: 20px;
  max-width: 1000px;
}
#intro {
  background-color: white;
}
#intro-1 {
  display: flex;
  margin: auto;
  width: 80%;
}
#intro-1 img {
  width: 50%;
}
#intro-1 h1 {
  width: 50%;
  max-width: 500px;
  padding-top: 50px;
}
#portfolio {
  background-color: #97c8eb;
  padding-bottom: 50px;
}
#portfolio-text {
  /* margin: 5% 5% 5% 5%; */
  margin-top: 20px;
  width: 80%;
  max-width: 1100px;
  margin: auto;
}
#portfolio p {
  text-align: center;
  margin: auto;
  font-size: 20px;
}
#projects {
  display: flex;
  justify-content: space-evenly;
  background-color: #eef6fc;
  border-radius: 15px;
  border: solid black;
  flex-wrap: nowrap;
  height: fit-content;
  border: 5px solid #97c8eb;
  margin: auto;
  overflow: scroll;
  padding: 5px 10px 5px 10px;
  width: 80%;
  max-width: 1000px;
}
.project {
  width: 200px;
  min-width: 200px;
  text-align: center;
  margin: 5px;
}
.project img {
  width: 100%;
  height: 130px;
  border-radius: 10px;
}
.project p {
  font-size: 20px;
}
.project a {
  text-decoration: none;
  color: #001011;
}
#resume a {
  color: blue;
  font-weight: 600;
  text-decoration: none;
}
#resume a:hover {
  color: white;
}

@media screen and (max-width: 680px) {
  #intro-1 {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
  }
  #intro-1 h1 {
    width: 100%;
    max-width: 500px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin: auto;
  }
  #main {
    padding-top: 50px;
  }
}
