#form {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  /* justify-content: space-between; */
  margin: auto;
  margin-bottom: 10px;
  /* padding: 5px; */
}
.searchbar {
  border: transparent;
  outline: none;
  width: 89.5%;
}
.searchButton {
  background-color: transparent;
  border: transparent;
  border-left: 1px solid gray;
  height: 30px;
  width: 9.5%;
}
.searchButton:hover {
  background-color: lightgray;
}
