/* -----Default----- */
/* Tags */

/* Ids */
#books {
  width: 95%;
}
#book-info {
  width: 95%;
}
#buttons {
  display: flex;
  justify-content: space-between;
}
#content {
  background-color: #3aafb9;
  padding-top: 150px;
  padding-bottom: 20px;
  min-height: 100vh;
}
#description {
  background-color: #eef6fc;
  border: 1px solid gray;
  margin: auto;
  width: 80%;
}
#footer {
  background-color: #001011;
  color: white;
  height: 10vh;
  text-align: center;
}
#form {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
}
#header {
  background-color: #001011;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100vw;
}
#header p {
  color: white;
  font-weight: 600;
  text-decoration: none;
}
#header p:hover {
  color: #97c8eb;
}
#info-box-left {
  background-color: white;
  height: 100%;
  text-align: center;
  width: 50%;
}
#info-box-left img {
  height: 200px;
}
#info-box-right {
  background-color: #eef6fc;
  min-height: 100%;
  width: 50%;
}

/* Classes */
.book {
  border: 1px solid gray;
  display: block;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 5px 5px 5px;
  white-space: initial;
  width: 200px;
  height: 250px;
}
.book a {
  text-decoration: none;
}

.dropdown-container {
  margin-right: 20px;
}
.image {
  height: 170px;
  max-width: 100%;
}
.info-box {
  border: 1px solid gray;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: auto;
  text-align: left;
  width: 80%;
}

.page {
  margin: auto;
  text-align: center;
}
.previous-btn {
  visibility: hidden;
}
.searchbar {
  border: transparent;
  outline: none;
  width: 89%;
}
.searchButton {
  background-color: transparent;
  border: transparent;
  border-left: 1px solid gray;
  width: 9%;
}
.searchButton:hover {
  background-color: cyan;
  border: transparent;
  border-left: 1px solid gray;
  width: 9%;
}
.search-display {
  background-color: #eef6fc;
  border: 1px solid gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  padding: 5px 10px 5px 10px;
}

.default {
  display: block;
}
.large {
  display: none;
}
.medium {
  display: none;
}
.small {
  display: none;
}

/* -----Media Queries----- */
/* ---Large--- */
@media screen and (max-width: 1280px) {
  /* Tags */
  /* Classes */
  .book {
    padding: 5px 5px 5px 5px;
    width: 170px;
  }
  .image {
    height: 150px;
  }

  .default {
    display: none;
  }
  .large {
    display: block;
  }
  .medium {
    display: none;
  }
  .small {
    display: none;
  }
  /* Ids */
}

/* ---Medium--- */
@media screen and (max-width: 880px) {
  /* Tags */
  /* Classes */
  .book {
    padding: 5px 5px 5px 5px;
    width: 170px;
  }
  .image {
    height: 150px;
  }

  .default {
    display: none;
  }
  .large {
    display: none;
  }
  .medium {
    display: block;
  }
  .small {
    display: none;
  }
  /* Ids */
}

/* ---Small--- */
@media screen and (max-width: 480px) {
  /* Tags */
  /* Ids */
  #info-box-left {
    width: 100%;
  }
  #info-box-right {
    width: 100%;
  }
  /* Classes */
  .book {
    padding: 5px 5px 5px 5px;
    width: 45vw;
  }
  .info-box {
    border: 1px solid gray;
    display: block;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: auto;
    text-align: left;
    width: 80%;
  }
  .image {
    height: 43vw;
  }

  .default {
    display: none;
  }
  .large {
    display: none;
  }
  .medium {
    display: none;
  }
  .small {
    display: block;
  }
}
